.DS_Store

# Code environnement
.vscode
.idea

# Python
**/__pycache__
sandbox.py

# Jupyter Notebooks
.ipynb_checkpoints
**/*.ipynb

# Large files
*.png

# Data files
*.csv
*.parquet

# R
.Rproj.user
repo-template.Rproj
.RData
.RHistory
